/* screen - ahorrar */

.ahorrar {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.ahorrar .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ahorrar .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.ahorrar .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.ahorrar .icon-bar_chart-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.ahorrar .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.ahorrar .icon-signal-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.ahorrar .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.ahorrar .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.ahorrar .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.ahorrar .capacity-4jFiZR {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.ahorrar .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.ahorrar .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.ahorrar .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.ahorrar .we-are-caotic-ahorrar-C61RwL {
  background-color: transparent;
  height: auto;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  width: auto;
}

.ahorrar .span0-KpjGQV {
}

.ahorrar .span1-KpjGQV {
}

.ahorrar .group-309-C61RwL {
  background-color: transparent;
  height: 87px;
  left: 18px;
  position: absolute;
  top: 106px;
  width: 358px;
}

.ahorrar .rectangle-1373-gJGBzK {
  background-color: var(--limon);
  border-radius: 7px;
  height: 87px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 354px;
}

.ahorrar .mask-group-gJGBzK {
  background-color: transparent;
  height: 87px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 354px;
}

.ahorrar .recuerda-gJGBzK {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 13px;
  width: 142px;
}

.ahorrar .si-deseas-retirar-el-gJGBzK {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  width: 255px;
}

.ahorrar .group-293-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 18px;
  position: absolute;
  top: 206px;
  width: 354px;
}

.ahorrar .rectangle-6-xlHGDl {
  background-color: transparent;
  height: 38px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 354px;
}

.ahorrar .group-313-xlHGDl {
  background-color: transparent;
  height: 14px;
  left: 77px;
  position: absolute;
  top: 10px;
  width: 201px;
}

.ahorrar .crear-nuevo-plan-de-ahorro-iQ7yEj {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 185px;
}

.ahorrar .union-iQ7yEj {
  background-color: transparent;
  height: 10px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 10px;
}

.ahorrar .nav-emprendimiento-C61RwL {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.ahorrar .rectangle-1463-VNtfJe {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.ahorrar .union-VNtfJe {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 226px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.ahorrar .union-t9QcV5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.ahorrar .union-pIWv0k {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.ahorrar .union-rK7kDd {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.ahorrar .frame-109-C61RwL::-webkit-scrollbar {
  display: none;
  width: 0;
}

.ahorrar .frame-109-C61RwL {
  background-color: transparent;
  height: 506px;
  left: -0px;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 263px;
  width: 390px;
}

.ahorrar .group-311-XZ5Sep {
  background-color: transparent;
  height: 172px;
  left: 18px;
  position: absolute;
  top: 453px;
  width: 360px;
}

.ahorrar .rectangle-44-zzxuPw {
  background-color: transparent;
  height: 53px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 60px;
  width: 354px;
}

.ahorrar .mask-group-zzxuPw {
  background-color: transparent;
  height: 53px;
  left: -0px;
  position: absolute;
  top: 29px;
  width: 354px;
}

.ahorrar .mi-creador-de-pastel-zzxuPw {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 118px;
  width: 199px;
}

.ahorrar .vamos-por-138400-zzxuPw {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 151px;
  width: 112px;
}

.ahorrar .meta-1560000-zzxuPw {
  background-color: transparent;
  height: auto;
  left: 249px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 151px;
  width: 91px;
}

.ahorrar .span0-rWGKfT {
}

.ahorrar .span1-rWGKfT {
}

.ahorrar .rectangle-34-zzxuPw {
  background-color: transparent;
  height: 1px;
  left: 178px;
  mix-blend-mode: normal;
  position: absolute;
  top: 142px;
  width: 1px;
}

.ahorrar .rectangle-35-zzxuPw {
  background-color: var(--azul);
  border-radius: 7.03px;
  height: 6px;
  left: 17px;
  mix-blend-mode: normal;
  position: absolute;
  top: 140px;
  width: 78px;
}

.ahorrar .group-87-XZ5Sep {
  background-color: transparent;
  height: 172px;
  left: 18px;
  position: absolute;
  top: 33px;
  width: 360px;
}

.ahorrar .rectangle-44-txJ9xv {
  background-color: transparent;
  height: 172px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 354px;
}

.ahorrar .mask-group-txJ9xv {
  background-color: transparent;
  height: 111px;
  left: -0px;
  position: absolute;
  top: -1px;
  width: 354px;
}

.ahorrar .vamos-por-1560000-txJ9xv {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 151px;
  width: 133px;
}

.ahorrar .meta-1560000-txJ9xv {
  background-color: transparent;
  height: auto;
  left: 249px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 151px;
  width: 91px;
}

.ahorrar .span0-tmrCLw {
}

.ahorrar .span1-tmrCLw {
}

.ahorrar .rectangle-34-txJ9xv {
  background-color: transparent;
  height: 6px;
  left: 17px;
  mix-blend-mode: normal;
  position: absolute;
  top: 139px;
  width: 322px;
}

.ahorrar .para-mi-nueva-vitrina-txJ9xv {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 118px;
  width: 199px;
}

.ahorrar .group-310-XZ5Sep {
  background-color: transparent;
  cursor: pointer;
  height: 172px;
  left: 18px;
  position: absolute;
  top: 263px;
  width: 360px;
}

.ahorrar .rectangle-44-24Cztk {
  background-color: transparent;
  height: 172px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 354px;
}

.ahorrar .mask-group-24Cztk {
  background-color: transparent;
  height: 111px;
  left: -0px;
  position: absolute;
  top: -1px;
  width: 354px;
}

.ahorrar .vamos-por-838400-24Cztk {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 151px;
  width: 112px;
}

.ahorrar .meta-8560000-24Cztk {
  background-color: transparent;
  height: auto;
  left: 249px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 151px;
  width: 91px;
}

.ahorrar .span0-mW4Nwu {
}

.ahorrar .span1-mW4Nwu {
}

.ahorrar .rectangle-34-24Cztk {
  background-color: transparent;
  height: 6px;
  left: 17px;
  mix-blend-mode: normal;
  position: absolute;
  top: 139px;
  width: 322px;
}

.ahorrar .rectangle-35-24Cztk {
  background-color: var(--azul);
  border-radius: 7.03px;
  height: 6px;
  left: 17px;
  mix-blend-mode: normal;
  position: absolute;
  top: 140px;
  width: 78px;
}

.ahorrar .la-moto-de-mis-sueos-24Cztk {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 118px;
  width: 199px;
}

.ahorrar .felicidades-has-completado-tu-ahorro-XZ5Sep {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 217px;
  width: 199px;
}

.ahorrar .rectangle-1376-XZ5Sep {
  background-color: transparent;
  height: 40px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 205px;
  width: 354px;
}

.ahorrar .rectangle-1377-XZ5Sep {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 245px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 213px;
  width: 113px;
}

.ahorrar .retirar-XZ5Sep {
  background-color: transparent;
  height: auto;
  left: 291px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 217px;
  width: 29px;
}

.ahorrar .tus-planes-actuales-XZ5Sep {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: 182px;
}

.ahorrar .bestie-2-C61RwL {
  background-color: transparent;
  height: 79px;
  left: 21px;
  mix-blend-mode: normal;
  position: absolute;
  top: 114px;
  width: 76px;
}
