/* screen - proyectos-cliente */

.proyectos-cliente {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.proyectos-cliente .status-bar-i-phone-13-13-pro-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.proyectos-cliente .indicators-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.proyectos-cliente .elements-signal-DFyBAk {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.proyectos-cliente .icon-bar_chart-J8m9bL {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.proyectos-cliente .elements-connection-DFyBAk {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.proyectos-cliente .icon-signal-rfGD5B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.proyectos-cliente .elements-battery-DFyBAk {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.proyectos-cliente .border-4jFiZR {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.proyectos-cliente .cap-4jFiZR {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.proyectos-cliente .capacity-4jFiZR {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.proyectos-cliente .mic-cam-ioFxYm {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.proyectos-cliente .elements-time-ioFxYm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.proyectos-cliente .time-ZiAW4B {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.proyectos-cliente .emprendimientos-C61RwL {
  background-color: transparent;
  height: auto;
  left: 135px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 56px;
  width: auto;
}

.proyectos-cliente .span0-tny4tB {
}

.proyectos-cliente .span1-tny4tB {
}

.proyectos-cliente .vector-7-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 24px;
  position: absolute;
  top: 92px;
  width: 390px;
}

.proyectos-cliente .frame-87-C61RwL::-webkit-scrollbar {
  display: none;
  width: 0;
}

.proyectos-cliente .frame-87-C61RwL {
  background-color: transparent;
  height: 670px;
  left: 0px;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 98px;
  width: 390px;
}

.proyectos-cliente .image-27-V6dEk7 {
  background-color: transparent;
  height: 126px;
  left: 20px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 579px;
  width: 344px;
}

.proyectos-cliente .image-28-V6dEk7 {
  background-color: transparent;
  height: 1px;
  left: 192px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 853px;
  width: 1px;
}

.proyectos-cliente .rectangle-1383-V6dEk7 {
  background-color: transparent;
  cursor: pointer;
  height: 126px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 579px;
  width: 344px;
}

.proyectos-cliente .rectangle-1386-V6dEk7 {
  background-color: transparent;
  height: 1px;
  left: 192px;
  mix-blend-mode: normal;
  position: absolute;
  top: 853px;
  width: 1px;
}

.proyectos-cliente .para-sacar-la-coleccin-V6dEk7 {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 866px;
  width: auto;
}

.proyectos-cliente .x20-completado-V6dEk7 {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 677px;
  width: auto;
}

.proyectos-cliente .x60-completado-V6dEk7 {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 888px;
  width: auto;
}

.proyectos-cliente .rectangle-1384-V6dEk7 {
  background-color: var(--white);
  border-radius: 4px;
  height: 5px;
  left: 42px;
  mix-blend-mode: normal;
  position: absolute;
  top: 698px;
  width: 306px;
}

.proyectos-cliente .rectangle-1387-V6dEk7 {
  background-color: var(--white);
  border-radius: 4px;
  height: 5px;
  left: 42px;
  mix-blend-mode: normal;
  position: absolute;
  top: 909px;
  width: 306px;
}

.proyectos-cliente .rectangle-1385-V6dEk7 {
  background-color: var(--rosa-claro);
  border-radius: 4px;
  height: 5px;
  left: 37px;
  mix-blend-mode: normal;
  position: absolute;
  top: 698px;
  width: 42px;
}

.proyectos-cliente .rectangle-1388-V6dEk7 {
  background-color: var(--rosa-claro);
  border-radius: 4px;
  height: 5px;
  left: 37px;
  mix-blend-mode: normal;
  position: absolute;
  top: 909px;
  width: 256px;
}

.proyectos-cliente .caotico-V6dEk7 {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 214px;
  white-space: nowrap;
  width: 364px;
}

.proyectos-cliente .azucarysalcali-V6dEk7 {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 425px;
  white-space: nowrap;
  width: 364px;
}

.proyectos-cliente .cohii-V6dEk7 {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 707px;
  white-space: nowrap;
  width: 364px;
}

.proyectos-cliente .ropalinda-V6dEk7 {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 918px;
  white-space: nowrap;
  width: 364px;
}

.proyectos-cliente .group-318-V6dEk7 {
  background-color: transparent;
  height: 23px;
  left: 254px;
  position: absolute;
  top: 767px;
  width: 94px;
}

.proyectos-cliente .rectangle-6-xWWrJe {
  background-color: var(--cielo);
  border-radius: 4.16px;
  height: 23px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 94px;
}

.proyectos-cliente .enviar-xWWrJe {
  background-color: transparent;
  height: 23px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 81px;
}

.proyectos-cliente .proyectos-activos-V6dEk7 {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  width: auto;
}

.proyectos-cliente .descubre-proyectos-d-V6dEk7 {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 491px;
  width: 327px;
}

.proyectos-cliente .image-25-V6dEk7 {
  background-color: transparent;
  height: 196px;
  left: 20px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 51px;
  width: 344px;
}

.proyectos-cliente .image-26-V6dEk7 {
  background-color: transparent;
  height: 196px;
  left: 20px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 262px;
  width: 344px;
}

.proyectos-cliente .rectangle-1379-V6dEk7 {
  background-color: transparent;
  height: 196px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 262px;
  width: 344px;
}

.proyectos-cliente .rectangle-1382-V6dEk7 {
  background-color: transparent;
  height: 196px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 51px;
  width: 344px;
}

.proyectos-cliente .stand-en-va-para-emprendedores-V6dEk7 {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 162px;
  width: auto;
}

.proyectos-cliente .nevera-nueva-para-postres-V6dEk7 {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 373px;
  width: auto;
}

.proyectos-cliente .arriendo-este-mes-V6dEk7 {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 655px;
  width: auto;
}

.proyectos-cliente .x50-completado-V6dEk7 {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 184px;
  width: auto;
}

.proyectos-cliente .x80-completado-V6dEk7 {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 395px;
  width: auto;
}

.proyectos-cliente .rectangle-1377-V6dEk7 {
  background-color: var(--white);
  border-radius: 4px;
  height: 5px;
  left: 42px;
  mix-blend-mode: normal;
  position: absolute;
  top: 205px;
  width: 306px;
}

.proyectos-cliente .rectangle-1380-V6dEk7 {
  background-color: var(--white);
  border-radius: 4px;
  height: 5px;
  left: 42px;
  mix-blend-mode: normal;
  position: absolute;
  top: 416px;
  width: 306px;
}

.proyectos-cliente .rectangle-1378-V6dEk7 {
  background-color: var(--rosa-claro);
  border-radius: 4px;
  height: 5px;
  left: 37px;
  mix-blend-mode: normal;
  position: absolute;
  top: 205px;
  width: 149px;
}

.proyectos-cliente .rectangle-1381-V6dEk7 {
  background-color: var(--rosa-claro);
  border-radius: 4px;
  height: 5px;
  left: 37px;
  mix-blend-mode: normal;
  position: absolute;
  top: 416px;
  width: 257px;
}

.proyectos-cliente .ver-lnea-del-tiempo-V6dEk7 {
  background-color: transparent;
  height: auto;
  left: 228px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  text-decoration: underline;
  top: 215px;
  width: auto;
}

.proyectos-cliente .ver-lnea-del-tiempo-MdNx4N {
  background-color: transparent;
  height: auto;
  left: 228px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  text-decoration: underline;
  top: 426px;
  width: auto;
}

.proyectos-cliente .group-317-V6dEk7 {
  background-color: transparent;
  height: 23px;
  left: 254px;
  position: absolute;
  top: 556px;
  width: 94px;
}

.proyectos-cliente .rectangle-6-SQztxi {
  background-color: var(--cielo);
  border-radius: 4.16px;
  height: 23px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 94px;
}

.proyectos-cliente .enviar-SQztxi {
  background-color: transparent;
  height: 23px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 81px;
}

.proyectos-cliente .nav-client-C61RwL {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.proyectos-cliente .rectangle-1463-rmsJ2W {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.proyectos-cliente .union-rmsJ2W {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.proyectos-cliente .union-YxtCn7 {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.proyectos-cliente .union-51xng8 {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 37px;
}

.proyectos-cliente .union-i7e17Y {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}
